<!DOCTYPE html>
<html>
<head>
    <title>@yield('title')</title>
</head>
<body>
    <div class="container">
        @include('partials.header')
        
        <main>
            @yield('content')
        </main>
    </div>
</body>
</html>
